
body {
    font-family: Arial, sans-serif;
}

.navbar-brand img {
    border-radius: 50%;
}

.navbar{
    color: ;
    font-size: medium;
    font-weight: bold;
}
.card-title {
           
    font-weight: bold; /* Ajusta el peso de la fuente */
    text-align: center; /* Centra el texto */
    margin-bottom: 1rem; /* Añade un margen inferior */
}
.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
}
    

    
